<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://kit.fontawesome.com/727acaea52.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta name="description"
        content="This website contains information about Zachary Bickmann, including information about
        where he lives, what he wants to do, as well as some pictures and videos.">
        <meta name="keywords"
        content="HTML, Resume, Fun Facts, About me">
        <link href="../../public/CSS/triviaStyleSheet.CSS" rel="stylesheet" type="text/CSS">
        <title>Zachary Bickmann Portfolio</title>
    </head>

    <body>
        <header>
            <nav class = "navBar">
            <ul>
                
                <li><a href="/my_trivia">Trivia</a> </li>

                <li><a href="/my_blog">Blog</a> </li>

                <li><a href="/my_fun_facts">Fun Facts</a> </li>
               
               <li><a href="/my_resume">Resume</a> </li>
               
               <li><a href="/">Home</a> </li>
                 
            </ul> 
            <h1 class="mainTitle">Zachary Bickmann Portfolio Website <i class="fas fa-meteor"></i></h1>
            </nav>
           
        </header>
       
        
        <h2>Welcome to Big Trivia! Type answers in lower case form please!</h2>

        <form action="/my_trivia" method="POST">
            <div class="questionGroup">
                <label for="firstQ" class="questionLabel">Q1. What is 1 + 1? [a = 1, b = 2, c = 3, d = 4] Type Answer: </label>
                <input type="text" class="questionControl" name="firstQ" id="firstQ">
            </div>

            <div class="questionGroup">
                <label for="secondQ" class="questionLabel">Q2. What is 1 + 2? [a = 1, b = 2, c = 3, d = 4] Type Answer: </label>
                <input type="text" class="questionControl" name="secondQ" id="secondQ">
            </div>

            <div class="questionGroup">
                <label for="thirdQ" class="questionLabel">Q3. What is 2 + 2? [a = 1, b = 2, c = 3, d = 4] Type Answer: </label>
                <input type="text" class="questionControl" name="thirdQ" id="thirdQ">
            </div>

            <div class="questionGroup">
                <label for="fourthQ" class="questionLabel">Q4. What is 15 / 3 + 1? [a = 6, b = 4, c = 1, d = 8] Type Answer: </label>
                <input type="text" class="questionControl" name="fourthQ" id="fourthQ">
            </div>

            <div class="questionGroup">
                <label for="fifthQ" class="questionLabel">Q5. What is 10 * 2? [a = 4, b = 7, c = 20, d = 5] Type Answer: </label>
                <input type="text" class="questionControl" name="fifthQ" id="fifthQ">
            </div>
            <button type="submit" class="ntm ntm-primary">Check Score</button>
        </form>

        <h3 class = "h3Score">Your Score: <%= score%></h3>



        <footer>
            <hr>
            <p class="copyR">&copy; 2021, Zachary Bickmann <br> </p>
            <p>My email is: <a href="mailto: zbickmann@oakland.edu" class="emailA">zbickmann@oakland.edu</a> </p>
        </footer>

    </body>
</html>